<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quiz</title>
</head>
<body>
<div>
    <div>
        <div>
            <form action="{% url 'show_score' quiz.id %}" method="POST">
                {% csrf_token %}
                {% for question in quiz.question.all %}
                <h3 style="color:red;">{{ question.description }}</h3>
                    {% for option in question.option.all %}
                <input type="radio" id="{{ option.name }}" name="{{ question.number }}" value="{{ option.id }}">
                <label for="{{ option.name }}">{{ option }}</label><br>

                    {% endfor %}
                {% endfor %}
                <button type="submit">send</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>